
// Fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

// Zeroing style
@import "null";

// Fonts variables
$font-family: 'Lato', sans-serif;

// Variables width & height
$min-width: 320px;

// Mesh main
.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.container {
  max-width: 1130px;
  padding: 0 15px;
}

// Connecting page and element style files
@import "main";
@import "header";
@import "ui";
@import "footer";

// SCSS code